@model IEnumerable<Transport.ViewModels.OrderViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Заказы</h2>

<p>
    @Html.ActionLink("Создать заказ", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SenderAdress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReceiverAdress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Transport)
        </th>               
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.StartDate.ToShortDateString()
        </td>
        <td>
            @item.EndDate.ToShortDateString()
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SenderAdress.AdressName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReceiverAdress.AdressName)
        </td>       
        <td>
            @Html.DisplayFor(modelItem => item.Transport.Name)
        </td>
    </tr>
}

</table>
